<h1>上傳 csv 檔案</h1>

<p>
注意，匯入的 Excel 欄位，必須依照以下順序：<br />
收文日期, 總收文, 發文機關, 文別, 發文字號, 事由, 組
簽收人, 簽收日期, 歸檔日期。<br />
且第一行為標題，會自動略過。
</p>

<%= form_tag file_import_path, multipart:true do |f| %>
    <%= file_field_tag :file %>
    <%= submit_tag "匯入檔案", class:'btn btn-primary' %>
<% end %>


<br>

